[contenteditable='true'] {
  cursor: text;
  outline: none;
  padding: 6px 14px;
}

.moveable-control-box {
  --moveable-color: #b7bbbf !important;
}

.moveable-line {
  border: 1px solid #b7bbbf !important;
}

.moveable-origin {
  display: none !important;
}

#dragTargetButton {
  cursor: move;
}

section:nth-child(even) {
  background-color: #f45a65 !important;
}
