* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  color: '#0d1116';
  list-style-position: inside;
}

ul,
ol {
  max-width: fit-content;
  max-height: fit-content;
}

li {
  padding: 4px;

  &:focus {
    outline: 1px solid #0d1116;
    border-radius: 4px;
  }
}

[contenteditable='true'] {
  cursor: text;
  outline: none;
  padding: 6px 14px;
}

input {
  outline: none;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}

.moveable-control-box {
  --moveable-color: #b7bbbf !important;
}

.moveable-line {
  border: 1px solid #b7bbbf !important;
}

.moveable-origin {
  display: none !important;
}

#dragTargetButton {
  cursor: move;
}

section:nth-child(even) {
  background-color: #f45a65 !important;
}
