[contenteditable='true'] {
  cursor: text;
  outline: none;
  padding: 6px 14px !important;
}

.moveable-control-box {
  --moveable-color: #b7bbbf !important;
}

.moveable-line {
  border: 1px solid #b7bbbf !important;
}

.moveable-origin {
  display: none !important;
}

.select-item {
  z-index: 999;
  box-shadow: 0 0 0 2px #b7bbbf;
}

#dragTargetButton {
  cursor: move;
  user-select: none;
}
