[contenteditable='true'] {
  cursor: text;
  outline: none;
  padding: 6px 14px !important;
}

.moveable-control-box {
  --moveable-color: #b7bbbf !important;
}

.moveable-line {
  border: 1px solid #b7bbbf !important;
}

.moveable-origin {
  display: none !important;
}

.select-item {
  z-index: 999;
  border: 2px solid #3e7df5;
}

#dragTargetButton {
  cursor: move;
  user-select: none;
}

#iframe-root {
  padding: 60px;
}

section:not(.select-section) {
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

.select-section .span {
  background-color: #f45a65;
}

.span {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: translate(-100%);
  border-radius: 6px 0px 6px 6px;
  background-color: #f2f4f7;
  width: 20px;
  height: 20px;
  font-size: 10px;
}
