* {
  position: relative;
  transition-property: color, background-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  list-style-position: inside;
}

input,
button {
  outline: none;
  border: none;
}

input::placeholder {
  opacity: 0.5;
  color: currentColor;
}

span,
a {
  display: inline-block;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  display: inline-block;
}

button,
a {
  cursor: pointer;
}

img {
  object-fit: cover;
}
