* {
  transition-property: color, background-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  color: '#0d1116';
  list-style-position: inside;
}

input {
  outline: none;
}

input::placeholder {
  color: currentColor;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  display: inline-block;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
}
