.tooltipContent {
  z-index: 100;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);
  background-color: var(--color-primary-light);
  padding: 1rem 1.2rem;
  color: var(--color-white);
  font-size: 1.4rem;
  user-select: none;
}

.tooltipArrow {
  z-index: var(--zindex-tooltip);
  fill: var(--color-primary-light);
}

.tooltipSmall {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
}
